    /* Fuentes */
$title-font: "Bebas Neue";
$body-font:"Roboto Slab";
$header-font:"Oswald";

    /* Colores */
$bg-color: #fff;
$bg-secciones-color:#262626;
$btn-bg-color:#FFC812;
$title-color: #000000;
$text-color:#383838;
$bg-complementario:#fab13d;
$bg-trasparente:#262626e5;